<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>

<body>

    <center>
        <form action="" method="POST">
            {% with messages=get_flashed_messages()%} {% for message in messages %} {% if message %}
            <div class="alert-danger">
                {{ message}}
            </div>
            {% endif %} {% endfor %} {% endwith%}
            <div class="det">
                <h4>Login to your account</h4>
                {{form.username.label}}
                <br/>{{form.username()}}
                <br/>{{form.password.label}}
                <br/>{{form.password()}}
                <br/> {{form.remember.label}} {{form.remember()}}
                <br/> {{form.submit(id="submit")}}
                <br/>
                <small>don't have an account ? <a href="{{url_for('reg')}}">sign up</a></small>
            </div>

        </form>
    </center>
</body>

</html>